.img-banner {
    width: 100vh;
    height: 550px;
    object-fit: cover;
    overflow-x: hidden !important;
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: gray !important;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: box-shadow .15s ease-in-out;
    overflow-x: hidden !important;
}

.body-member {
    background-color: #030918 !important;
    max-width: 100%;
    overflow-x: hidden !important;
}