.order-requested {
    color: orange !important;
    font-weight: bold !important;
    border: none !important;
}

.order-accepted {
    color: green !important;
    font-weight: bold !important;
    border: none !important;
}

.btn-approve {
    background-color: #0d6efd !important;
    margin-left: 10px !important;
    border: none !important;
}

.btn-approve:hover {
    background-color: #0b5ed7 !important;
    margin-left: 10px !important;
    border: none !important;
}


.btn-reject {
    background-color: #ec3d4f !important;
    margin-left: 10px !important;
    border: none !important;
}

.btn-reject:hover {
    background-color: #bb2d3b !important;
    margin-left: 10px !important;
    border: none !important;
}

.btn-detail {
    background-color: #ffc107 !important;
    margin-left: 10px !important;
    border: none !important;
}

.btn-detail:hover {
    background-color: #ffca2c !important;
    margin-left: 10px !important;
    border: none !important;
}