.card-movies {
    height: 300px;
    object-fit: cover;
}

.card-body-home {
    background-color: #030918 !important;
    color: white !important;
    padding-left: 0px !important;
}

.card {
    cursor: pointer;
}

