.navbar-items {
    color: white !important;
    text-decoration:none;
    margin-left: 10px;
}

.navbar-default {
    background-color: #192133 !important;
}

.navbar-collapse-member {
    justify-content: space-between;
}